@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --color-1: 330 100% 40%;
    --color-2: 140 100% 55%;
    --color-3: 210 100% 30%;
    --color-4: 60 100% 70%;
    --color-5: 295 100% 45%;
    --brand: 50 100% 50%;
  }

  @keyframes gridAnimation {
    0% {
      border-radius: 50%;
      background-color: var(--animation-color);
    }
    100% {
      border-radius: 0%;
      background-color: inherit;
    }
  }

  body {
    font-family: 'Manrope', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  }

  /* Custom font classes for display and body */
  .font-display {
    font-family: 'Syne', sans-serif;
  }

  .font-body {
    font-family: 'Manrope', sans-serif;
  }
  .dark {
    --color-1: 330 100% 40%;
    --color-2: 140 100% 55%;
    --color-3: 210 100% 30%;
    --color-4: 60 100% 70%;
    --color-5: 295 100% 45%;
    --brand: 50 100% 50%;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
